.commendbox {
    width: 75%;
    height: auto;
    margin: 0 auto 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    .titlezone {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;
        nav {
            .infosp {
                font-size: 12px;
                color: #888;
            }
            .icon {
                font-size: 18px;
                vertical-align: middle;
                margin-left: 10px;
            }
            span {
                font-size: 14px;
            }
        }
    }
    .commendzone {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        .commendtable {
            width: 100%;
            // height: 200px;
            text-align: center;
            border-collapse: collapse;
            margin-bottom: 10px;
            thead {
                line-height: 1.6;
                border-bottom: 1px solid #082032;
            }
            tbody {
                font-size: 14px;
                tr {
                    height: 40px;
                    border-bottom: 1px solid #eee;
                }
            }
        }
        .ant-pagination {
            text-align: center;
            padding-top: 10px;
            .ant-pagination-item {
                border-radius: 50%;
            }
            .ant-pagination-item-active {
                border-color: #FF4C29;
                a {
                    color: #FF4C29;
                }
            }
        }
    }
    .writezone {
        h3 {
            width: 100%;
            padding: 10px 0;
            border-bottom: 2px solid #ccc;
            font-size: 20px;
        }
        .writebox {
            width: 95%;
            margin: 20px auto;
            padding: 10px;
            background-color: #eee;
            border-radius: 5px;
            .write {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                textarea {
                    border: 0;
                    outline: 0;
                    resize: none;
                    width: 90%;
                    height: 40px;
                    padding: 12px;
                    border-radius: 2px;
                }
                button {
                    width: 9%;
                    height: 35px;
                    border: 0;
                    outline: 0; 
                    color: #fff;
                    background-color: #082032;
                    font-family: 'GoyangIlsan', sans-serif;
                    border-radius: 5px;
                    transition: 0.2s;
                    &:hover {
                        background-color: #FF4C29;
                        cursor: pointer;
                    }
                }
            }
        }
        p {
            width: 90%;
            padding-top: 10px;
            text-align: end;
            font-size: 14px;
            .countsp {
                color: #FF4C29;
            }
            span {
                padding: 0 2px;
            }
        }
    }
}