.commendbox {
    width: 75%;
    height: auto;
    margin: 0 auto 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    .titlezone {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;
        h3 {
            font-size: 20px;
        }
        nav {
            .icon {
                font-size: 18px;
                vertical-align: middle;
                margin-left: 10px;
            }
            span {
                font-size: 14px;
            }
        }
    }
    .commendzone {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
        .commendtable {
            width: 100%;
            height: 200px;
            text-align: center;
            border-collapse: collapse;
            margin-bottom: 10px;
            thead {
                line-height: 1.6;
                border-bottom: 1px solid #082032;
            }
            tbody {
                font-size: 14px;
                tr {
                    border-bottom: 1px solid #eee;
                    td {
                        &:last-child {
                            &:hover {
                                font-weight: bold;
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .ant-pagination {
            text-align: center;
            .ant-pagination-item {
                border-radius: 50%;
            }
            .ant-pagination-item-active {
                border-color: #FF4C29;
                a {
                    color: #FF4C29;
                }
            }
        }
    }
    .writezone {
        h3 {
            width: 100%;
            padding: 10px 0;
            border-bottom: 2px solid #ccc;
        }
        .writebox {
            width: 95%;
            margin: 20px auto;
            padding: 10px;
            background-color: #eee;
            border-radius: 5px;
        }
    }
}