#join {
    width: 100%;
    height: 100vh;
    padding: 240px 280px 120px;
    color: #082032;
    .joinbox {
        height: 600px;
        background-color: #fff;
        border-radius: 10px;
        h2 {
            padding: 40px 0;
            font-size: 26px;
            text-align: center;
        }
        .member_table {
            width: 100%;
            height: 360px;
            padding: 0 100px;
            tr {
                td {
                    span {
                        font-size: 16px; 
                        font-weight: bold;
                    }
                    .sp {
                        padding: 0 5px;
                        font-weight: normal;
                    }
                    &:first-child {
                        width: 20%;
                    }
                }
            }
            .id_btn {
                font-family: 'GoyangIlsan', sans-serif;
                padding: 3px 12px;
                margin-left: 10px;
                border: 0;
                outline: 0;
                border: 1px solid #082032;
                border-radius: 2px;
                background-color: #eee;
                transition: 0.2s;
                cursor: pointer;
                &:hover {
                    background-color: #ccc;
                }
            }
            input {
                padding: 3px;
            }
            .dayinput {
                width: 8%;
            }
            /* IE */
            select {
                margin-left: 10px;
            }
            select::-ms-expand { 
                display: none;
            }
            .sp2 {
                font-weight: normal;
                vertical-align: middle;
                padding-right: 5px;
            }
            input[type=radio] {
                margin-right: 12px;
                vertical-align: middle;
                appearance: none;
                border: 2px solid #ccc;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                transition: border 0.2s ease-in-out;
                &:checked {
                    border: 4px solid #082032;
                }
                &:hover {
                    box-shadow: 0 0 0 2px #eee;
                    cursor: pointer;
                }
            }
        }
        .join_btn {
            font-size: 16px; 
            padding: 30px 0;
            display: flex;
            align-items: center;
            margin-left: 70%;
            button {
                font-family: 'GoyangIlsan', sans-serif;
                padding: 10px 20px;
                margin-left: 16px;
                border: 0;
                border-radius: 4px;
                color: #fff;
                background-color: #082032;
                transition: 0.2s;
                cursor: pointer;
                &:hover {
                    background-color: #FF4C29;
                }
            }
        }
    }
}