.everyboard {
    margin: 0 auto;
    width: 65%;
    height: 37vh;
    display: table;
    background-color: #fff;
    vertical-align: top;
    border-radius: 15px;
    text-align: center;
    margin-top: 200px;

    h2 {
        display: flex;
        margin: 0 auto;
        padding: 30px 0 20px 30px;
        font-size: 28px;
        // font-size: 20px;
        // text-align: center;
        // padding-bottom: 20px;
        // padding-left: 20px;
    }
    hr {
        border: solid 1px #ccc;
        margin-bottom: 10px;
    }
        .freetable {
            width: 100%;
            height: 30vh;
            text-align: center;
            border-color: #ccc;
            border-collapse: collapse;
        }
            .category {
                height: 15px;
            }
                th:nth-child(1){
                    width: 10%;
                }
                th:nth-child(2) {
                    width: 50%;
                }
                th:nth-child(3) {
                    width: 20%;
                }
                th:nth-child(4) {
                    width: 20%;
                }      
        td{
            border-bottom: 1px solid #ccc;
            padding: 0;
            font-size: 14px;
            padding: 11px 5px;
        }
        .one{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 10%;
        }
        .two {
            text-align: center;
            padding-left: 60px;
        }  
            a {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                // color: black;
                width: 55%;
            }
            a:hover {
                color: #ccc;
            }
            // button {
            //     font-size: 10px;
            //     padding: 5px;
            //     border-radius: 15px;
            //     background-color: black;
            //     color: #fff;
            //     margin: 10px ;
            // }
            .btn {
                display: flex;
                align-content: flex-start;
               
                button {
                font-size: 10px;
                padding: 5px;
                border-radius: 15px;
                background-color: black;
                color: #fff;
                margin: 10px ;
                align-content: flex-start;
            }
            }

}
    