.community {
    * {  padding: 0 !important;  box-sizing: border-box; }
    margin-top: 80px;
    h2 {
        color: #fff;
        width: 55%;
        margin: 0 auto;
        margin-bottom: 30px;
         // padding-top: 30px;
         // padding-left: 30px;
         // font-size: 30px;
         // font-size: 20px;
         // text-align: center;
         // padding-bottom: 20px;
         // padding-left: 20px;
     }
    .freetable {
        width: 55%;
        height: 37vh;
        display: table;
        background-color: #fff;
        vertical-align: top;
        border-radius: 15px;
        text-align: center;
        margin: 0 auto;
        padding-top: 200px;
       
        .category {
            // background-color: #FF4C29;
            border-bottom: 1px solid #faf3f3;
            // padding: 0;
            font-size: 17px;
            // font-weight: bold;
            color: #333;
            padding: 15px 5px;
            font-weight: bold;
        }
            th:nth-child(1){
                width: 10%;
            }
            th:nth-child(2) {
                width: 50%;
            }
            th:nth-child(3) {
                width: 20%;
            }
            th:nth-child(4) {
                width: 20%;
            }
        td:hover{
            background-color: rgb(246, 243, 243);
            cursor: pointer;
        }
        td{
            border-bottom: 1px solid #ccc;
            padding: 0;
            font-size: 14px;
            padding: 11px 5px;
        }
    }
}
