#newMovie {
    margin-top: 30px;
    position: relative;
    cursor: default;
    #youtubeText{
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .movieText{
            width: 40%;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-size: 68px;
                line-height: 1.2;
                height: 40%;
            }
            p {
                width: 100%;
                height: 60%;
                font-size: 18px;
                padding-top: 95px;
                line-height: 1.6;
            }
        }
        .youtube{
           width: 40%;
        }
        
    }
}