.Writing {
    vertical-align: top;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    // background-color: #ccc;
    width: 80%;
    height: 37vh;
    h2{
        font-size: 25px;
        color: #fff;
    }
    .movie-container {
        margin: 0 auto;
        width: 50%;
        border: 1px solid #333;
        padding: 10px 0 30px 0;
        border-radius: 5px;
        margin-bottom : 50px;
      }
      
      .form-wrapper{
        width: 80%;
        margin: 0 auto;
      }
      
      .title-input {
        width: 620px;
        height: 35px;
        margin: 10px;
        padding-left: 10px;
      }
      
      .title-nick {
        width: 100px;
        height: 35px;
        margin: 10px;
        text-align: center;
      }

      .title-date {
        width: 100px;
        height: 35px;
        margin: 10px;
        text-align: center;
      }
  
      .text-area {
        width: 70%;
        min-height: 480px;
        padding-left: 10px;
        padding-top: 10px;
      }
      
      .submit-button {
        color: #f7e7e7;
        font-size: 14px;
        padding: 10px;
        border: none;
        background: #FF4C29;
        border-radius: 18px;
        margin-top: 20px;
        margin: 5px;
      }
      .submit-button:hover {
        color: #fff;
      }

  }
  
  