.pages {
    .page{
        .numberLists {
           display: flex;
           justify-content: flex-start;
           list-style: none;
           width:300px;
            .numberList{
                background-color: #fff;
                color: #082032;
                width: 30px;
                height: 30px;
                margin-right: 10px;
                border: 1px solid #ccc;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s;
                cursor: pointer;
                &:hover {
                    color: #FF4C29;
                    border-color: #FF4C29;
                }
            }
        }
    }
}