.moviedetail {
    padding-top: 80px;
    cursor: default;
    .detailbox {
        width: 75%;
        height: auto;
        margin: 80px auto 20px auto;
        padding-bottom: 30px; 
        background-color: #fff;
        border-radius: 10px;
        .icon {
            vertical-align: middle;
            margin: 0 0 3px 5px;
        }
        .top_zone {
            width: 100%;
            height: 300px; 
            padding: 0 30px; 
            display: flex;
            .left {
                width: 70%;
                strong {
                    padding-right: 5px; 
                }
                .title {
                    width: 95%;
                    padding: 60px 20px 20px;
                    border-bottom: 2px solid #FF4C29;
                    h3 {
                        font-size: 28px;
                    }
                }
                .tablebox {
                    margin-top: 30px;
                    width: 95%;
                    height: 150px;
                    padding: 15px 0;
                    background-color: #eee;
                    border-radius: 5px; 
                    .infotable {
                        width: 100%;
                        height: 120px;
                        margin-left: 15px;
                    }
                }
            }
            .right {
                width: 30%;
                padding: 40px 0 0 80px; 
                img {
                    width: auto;
                    height: 260px;
                    border: 1px solid #eee;
                    border-radius: 2px;
                }
            }
        }
        .moviedesc {
            width: 92%;
            margin: 30px auto;
            
            .desctitle {
                padding-bottom: 20px;
                font-size: 18px; 
            }
            .desc {
                width: 98%;
                margin: 0 auto;
                line-height: 1.6;
            }
        }
        .bottom_zone {
            width: 95%;
            height: 500px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #eee;
            border-radius: 5px; 
            p {
                margin-bottom: 30px;
                font-size: 18px;
            }
        }
    }
}